.App {
  text-align: center;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;

}
.App > *{
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.app-container{
  flex-grow: 1;
  
  padding: .5rem;
  position: relative;
  overflow-y: hidden;
  height: 100vh;
  max-width: 768px;
  margin: 0;
  margin-right: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}
.app-container h1{
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: var(--orange-700);
  font-family: sans-serif;
}
@media (min-width: 768px){
  .app-container{
    padding: 2rem;
    padding-top: 5rem;
  }
  .app-container h1{
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 928px){
  .app-container{
    margin: 0 auto;
  }
}






/*Sidebar*/
.app-sidebar{
  min-width: 75px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: stretch;
  /* width: 80px; */
  /* overflow-y: auto;  */
  position: relative;


  position: fixed;
  right: 0;
  z-index: 50;
  height: 100vh;
}
.app-sidebar,.app-sidebar *,
.app-side-data-container, .app-side-data-container *{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}





.app-side-controls-container{
  min-width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 80px;
  overflow-y: auto;
  position: relative;
  z-index: 100;
}

.sidebar-control-container{
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0,0,0,0.1);
  /* position: relative; */
  width: 100%;
  padding: .8rem .5rem .3rem .5rem;
  cursor: pointer;
  margin-bottom: .3rem;
}

.sidebar-control-container.sidebar-control-container--selected{
  background-color: var(--orange-700);
}
@media (min-width: 768px){
  .sidebar-control-container:hover{
    background-color: var(--orange-700);
  }
}

.sidebar-control-container input[type="checkbox"]{
  display: none;
}

.sidebar-control{
  font-size: 2rem;
  /* height: 75px; */
  /* width: 75px; */
  /* background-color: rgba(0,0,0,0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-control.sidebar-control-parenthesis p{
  font-size: 2.5rem;
}

.app-sidebar .sidebar-control_details{
  font-size: .6rem;
  width: 100%;
  word-break: break-word;
  margin-top: .5rem;
  color: #bababa;
}

@media (min-width: 768px){
  .app-sidebar .sidebar-control-container:hover .sidebar-control_details{
    color: var(--orange-300) !important;
  }
}



@media (min-width: 768px){
  .app-sidebar:hover{
    /* width: 20rem; */
  }
  .app-sidebar .app-side-controls-container{
    width: 100%;
  }
  .app-sidebar .sidebar-control-container{
    flex-direction: row;
    height: 80px;
  }
  .app-sidebar .sidebar-control{
    /* width: 100%; */
    min-width: 75px;
  }
  .app-sidebar .sidebar-control_details{
    opacity: 0;
    overflow: hidden;
    width: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .app-sidebar:hover .sidebar-control_details{
    opacity: 1;
    padding: .5rem;
    width: 15rem;
    
  }
}










.app-side-data-container{
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  background-color: #355;
  background-color: white;
  z-index: 10;
  right: -200%;
}
.app-side-data-container.app-side-data-container--visible{
  right: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.app-side-data-container .app-side-data-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-bottom: 1px solid #eee;

}








.app-side-data-item.app-side-data-item-suffix{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  text-align: left;
  min-width: 6rem;
  background-color: var(--gray-800);
  background-color: white;
  color: #333;
  padding: 1.5rem 1.5rem;
  position: relative;
  cursor: pointer;
}
.app-side-data-item.app-side-data-item-suffix.app-side-data-item-suffix--disabled{
  background-color: rgba(0,0,0,0.3);
}
.app-side-data-item.app-side-data-item-suffix.app-side-data-item-suffix--active{
  background-color: var(--gray-700);
}
.app-side-data-item.app-side-data-item-suffix.app-side-data-item-suffix--active .suffix-name{
  color:white;
}
@media (min-width: 768px){
  .app-side-data-item.app-side-data-item-suffix:hover .suffix-name{
    color:white;
  }
  .app-side-data-item.app-side-data-item-suffix:hover{
    background-color: var(--gray-700);
  }
}
.suffix-exponent{
  display: flex;
  font-weight: bold;
  color: var(--orange-700);
  font-family: oswaldregular;
  font-size: 2rem;
  font-size: .9rem;
  width: 4rem;
  justify-content: flex-end;
  align-items: baseline;
  color: #ccc;
}

.suffix-exponent span{
  font-size: .9rem;
  font-size: 2rem;
  position: relative;
  bottom: .4rem;
  left: .1rem;
  /* width: 3rem; */
  text-align: right;
  color: var(--orange-700);
}

.suffix-details{
  display: flex;
  line-height: 1.8;
  width: 2.5rem;
  margin-left: 2rem;
}

.suffix-name{
  font-weight: bold;
  letter-spacing: .02rem;
  color: #000;
  position: absolute;
  top: .2rem;
}
.suffix-symbol{
  font-weight: bold;
  color: var(--orange-700);
}

@media (min-width: 768px){
  .suffix-details{
    margin-left: 3rem;
  }
  .app-side-data-item.app-side-data-item-suffix{
    min-width: 6rem;
    padding: 1.5rem 2rem;
  }
}










.app-side-data-item.app-side-data-item-unit-definition{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  text-align: left;
  min-width: 6rem;
  background-color: var(--gray-800);
  background-color: white;
  color: #333;
  padding: 1.5rem 1.5rem;
  position: relative;
  cursor: pointer;
}

@media (min-width: 768px){
  .add-definition:hover {
    background-color: rgba(0,0,0,0.1);
  }
}
.app-side-data-item.app-side-data-item-unit-definition.app-side-data-item-unit-definition--active{
  background-color: var(--gray-700);
}

.app-side-data-item.app-side-data-item-unit-definition.app-side-data-item-unit-definition--active .definition-measures{
  color: #999;
}
@media (min-width: 768px){
  .app-side-data-item.app-side-data-item-unit-definition:hover .definition-measures{
    color: #999;
  }
  .app-side-data-item.app-side-data-item-unit-definition:hover{
    background-color: var(--gray-700);
  }
}
.definition-symbol, .add-definition div{
  display: flex;
  font-weight: bold;
  color: var(--orange-700);
  font-family: oswaldregular;
  font-size: 2rem;
  /* font-size: .9rem; */
  width: 3rem;
  align-items: baseline;
  /* color: #ccc; */
}
.add-definition div{
  width: 4rem;
}

.definition-details, .add-definition p{
  display: flex;
  line-height: 1.8;
  width: 5rem;
}
.add-definition p,
.definition-view,
.definition-name{
  font-weight: bold;
  letter-spacing: .02rem;
  color: #999;
}
.definition-name{
  position: absolute;
  top: .8rem;
}
.definition-view{
  position: absolute;
  top: .8rem;
  right: .7rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media (min-width: 768px){
  .definition-view:hover{
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.add-definition p{
  /* line-height: 1.4; */
  line-height: 2;
}
.definition-measures{
  font-size: .7rem;
  line-height: 1.3;
}








